
$font-family-title : 'Anton'; 
$searchBar-color : #7A7A7A;


body {
    font-family: 'Manrope';
    font-style: normal;
    margin: auto;
    max-width: 1440px;
}

main {
    background-color: #EDEDED;
}

.header {
    height: 667px;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/lampos-aritonang-24gR_9lCdes-unsplash-scaled.jpg");
    background-size: 100%;
    background-position-y: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    &__logo {
        position: absolute;
        top: 51px;
        left: 69px;
        color: white;
        font-family: $font-family-title;
        font-size: 25px;
        display: flex;
        align-items: center;
        gap: 8px;

        i {
            position: relative;
            font-size: 20px;
            i {
                position: absolute;
                right: 2.6px;
                top: 2.9px;
                font-size: 15px;
                color: black;
            }
        }
    }

    h1 {
        color: #FFD15B;
        font-family: $font-family-title;
        font-weight: 400;
        line-height: 66px;
        font-size: 44px;
        text-align: center;
        width: 720px;
    }
    &__search-bar {
        width: 80%;
        height: 72px;
        position: relative;
        max-width: 954px;
        input {
            width: 100%;
            height: inherit;
            border-radius: 11px;
            border: none;
            padding: 12px 35px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $searchBar-color;
        }

        span {
            display: none;
            position: absolute;
            top: 27px;
            right: 80px;
            font-size: 20px;
            color: $searchBar-color;
            cursor: pointer;
        }
        
        button {
            position: absolute;
            right: 10px;
            top: 10px;
            background: #1B1B1B;
            border-radius: 10px;
            width: 51px;
            height: 52px;
            border: none;
            cursor: pointer;
            &:hover {
                background: #FFD15B;
            }
            &:hover i {
                color: black;
            }
            i {
                font-size: 30px;
                color: white;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        background-size: cover;
        background-position-x: center;
    }
    @media screen and (max-width: 855px) {
        background-position-x: 80%;
        h1 {
            width: 80%;
        }
    }
}

.mainHeader {
    padding: 30px 5% 55px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    &__buttonList {
        width: 717px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: relative;
        width: 195px;
        height: 56px;
        border: none;
        border-radius: 11px;
        background-color: white;
        text-align: left;
        padding-left: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        i {
            position: absolute;
            top: 20px;
            right: 25px;
        }
    }

    &__button:hover + &__dropdown-content,
    &__dropdown-content:hover {
        display: flex;
        flex-direction: column;
    }

    &__dropdown {
        position: relative;
    }

    &__dropdown-content {
        display: none;
        width: 195px;
        height: 315px;
        position: absolute;
        background-color: white;
        top: 47px;
        border-radius: 0 0 11px 11px;
        z-index: 1;
    }

    &__search-bar {
        position: relative;
        margin: 5px 16px;
        input {
            box-sizing: border-box;
            width: 163px;
            height: 36px;
            border: 1px solid #C6C6C6;
            border-radius: 2px;
            color: $searchBar-color;
            padding: 12px 10px;
        }
        i {
            position: absolute;
            right: 10px;
            top: 10px;
            color: $searchBar-color;
        }
    }

    &__activetedTags {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 195px;
        gap: 1px;
    }

    &__tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 37px;
        background: #FFD15B;
        padding-left: 16px;
        padding-right: 14px;
        width: auto;
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
        &:hover span{
            font-weight: 700;
        }
        i {
            display: none;
            cursor: pointer;
        }
        &:hover i {
            display: block;
        }

    }

    &__recipeCount {
        font-family: $font-family-title;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        white-space: nowrap;
    }

    &__listTag {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
        text-overflow: clip;
        overflow: scroll;
        border-radius: 0 0 11px 11px;
        
        button {
            height: auto;
            border: none;
            background-color: white;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            line-height: 35px;
            padding-left: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #FFD16B;
        }
    }
    @media screen and (max-width: 855px) {
        gap: 30px;
        flex-direction: column-reverse;
        &__buttonList {
            width: 100%;
            gap: 5%;
        }
        &__dropdown {
            width: 30%;
        }
        &__button {
            width: 100%;
        }
        &__dropdown-content {
            width: 100%;
        }
        &__search-bar input {
            width: 100%;
        }
        &__activetedTags {
            width: auto;
        }
    }
    @media screen and (max-width: 525px) {
        flex-direction: row;
        gap: 4%;
        &__buttonList {
            flex-direction: column;
            gap: 10px;
        }
        &__dropdown {
            width: 195px;
            max-width: 195px;
        }
        &__tag {
            width: auto;
        }
    }
}

.activetedTag {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    padding: 0 5% 0 5%;
    margin-bottom: 55px;
    flex-wrap: wrap;
    &__tag {
        width: 203px;
        height: 53px;
        padding: 0 18px 0 18px;
        background-color: #FFD15B;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        min-width: 135px;
    }
    i:hover {
        cursor: pointer;
    }
    
    @media screen and (max-width: 855px) {
        &__tag {
            width: 30%;
        }
    }
}

.section-recipe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
    min-height: 800px;
    gap: 45px;
    margin: auto;
    h3 {
        font-family: $font-family-title;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }
    h4 {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.09em;
        color: #7A7A7A;
    }
    &__card {
        width: 380px;
        height: 731px;
        min-height: 731px;
        background-color: white;
        box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
        border-radius: 21px;
        position: relative;
        img {
            width: 380px;
            height: 253px;
            object-fit: cover;
            border-radius: 21px 21px 0 0;
        }
    }
    &__time {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 26px;
        background: #FFD15B;
        border-radius: 14px;
        top: 21px;
        right: 20px;
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__cardContent {
        padding: 0 25px 0 25px;
    }
    &__cardRecette {
        max-height: 125px;
        text-overflow: "";
        overflow: hidden;
        p {
            max-height: 76px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__cardListIngredients {
        width: 330px;
        height: 190px;
    }
    &__cardIngredients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 30px;
    }
    &__cardIngredient {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        span:first-child {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
        }
        span:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #7A7A7A;
        }
    }
    @media screen and (max-width: 1366px) {
        justify-content: center;
    }
    @media screen and (max-width: 400px) {
        &__card {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__cardIngredients {
            width: fit-content;
        }
    }
}

