body {
  font-family: "Manrope";
  font-style: normal;
  margin: auto;
  max-width: 1440px;
}

main {
  background-color: #EDEDED;
}

.header {
  height: 667px;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/lampos-aritonang-24gR_9lCdes-unsplash-scaled.jpg");
  background-size: 100%;
  background-position-y: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.header__logo {
  position: absolute;
  top: 51px;
  left: 69px;
  color: white;
  font-family: "Anton";
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo i {
  position: relative;
  font-size: 20px;
}
.header__logo i i {
  position: absolute;
  right: 2.6px;
  top: 2.9px;
  font-size: 15px;
  color: black;
}
.header h1 {
  color: #FFD15B;
  font-family: "Anton";
  font-weight: 400;
  line-height: 66px;
  font-size: 44px;
  text-align: center;
  width: 720px;
}
.header__search-bar {
  width: 80%;
  height: 72px;
  position: relative;
  max-width: 954px;
}
.header__search-bar input {
  width: 100%;
  height: inherit;
  border-radius: 11px;
  border: none;
  padding: 12px 35px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7A7A7A;
}
.header__search-bar span {
  display: none;
  position: absolute;
  top: 27px;
  right: 80px;
  font-size: 20px;
  color: #7A7A7A;
  cursor: pointer;
}
.header__search-bar button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #1B1B1B;
  border-radius: 10px;
  width: 51px;
  height: 52px;
  border: none;
  cursor: pointer;
}
.header__search-bar button:hover {
  background: #FFD15B;
}
.header__search-bar button:hover i {
  color: black;
}
.header__search-bar button i {
  font-size: 30px;
  color: white;
}

.mainHeader {
  padding: 30px 5% 55px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.mainHeader__buttonList {
  width: 717px;
  display: flex;
  justify-content: space-between;
}
.mainHeader__button {
  position: relative;
  width: 195px;
  height: 56px;
  border: none;
  border-radius: 11px;
  background-color: white;
  text-align: left;
  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.mainHeader__button i {
  position: absolute;
  top: 20px;
  right: 25px;
}
.mainHeader__button:hover + .mainHeader__dropdown-content, .mainHeader__dropdown-content:hover {
  display: flex;
  flex-direction: column;
}
.mainHeader__dropdown {
  position: relative;
}
.mainHeader__dropdown-content {
  display: none;
  width: 195px;
  height: 315px;
  position: absolute;
  background-color: white;
  top: 47px;
  border-radius: 0 0 11px 11px;
  z-index: 1;
}
.mainHeader__search-bar {
  position: relative;
  margin: 5px 16px;
}
.mainHeader__search-bar input {
  box-sizing: border-box;
  width: 163px;
  height: 36px;
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  color: #7A7A7A;
  padding: 12px 10px;
}
.mainHeader__search-bar i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #7A7A7A;
}
.mainHeader__activetedTags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 195px;
  gap: 1px;
}
.mainHeader__tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  background: #FFD15B;
  padding-left: 16px;
  padding-right: 14px;
}
.mainHeader__tag span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.mainHeader__tag:hover span {
  font-weight: 700;
}
.mainHeader__tag i {
  display: none;
  cursor: pointer;
}
.mainHeader__tag:hover i {
  display: block;
}
.mainHeader__recipeCount {
  font-family: "Anton";
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  white-space: nowrap;
}
.mainHeader__listTag {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  text-overflow: clip;
  overflow: scroll;
  border-radius: 0 0 11px 11px;
}
.mainHeader__listTag button {
  height: auto;
  border: none;
  background-color: white;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  padding-left: 16px;
  cursor: pointer;
}
.mainHeader__listTag button:hover {
  background-color: #FFD16B;
}
@media screen and (max-width: 855px) {
  .mainHeader {
    gap: 30px;
    flex-direction: column-reverse;
  }
  .mainHeader__buttonList {
    width: 100%;
    gap: 5%;
  }
  .mainHeader__dropdown {
    width: 30%;
  }
  .mainHeader__button {
    width: 100%;
  }
  .mainHeader__dropdown-content {
    width: 100%;
  }
  .mainHeader__search-bar input {
    width: 100%;
  }
}
@media screen and (max-width: 525px) {
  .mainHeader {
    flex-direction: row;
  }
  .mainHeader__buttonList {
    flex-direction: column;
    gap: 10px;
  }
  .mainHeader__dropdown {
    width: 100%;
    max-width: 195px;
  }
}

.activetedTag {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  padding: 0 5% 0 5%;
  margin-bottom: 60px;
}
.activetedTag__tag {
  width: 203px;
  height: 53px;
  padding: 0 18px 0 18px;
  background-color: #FFD15B;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activetedTag i:hover {
  cursor: pointer;
}

.section-recipe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5% 0 5%;
  min-height: 800px;
  gap: 45px;
  margin: auto;
}
.section-recipe h3 {
  font-family: "Anton";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.section-recipe h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: #7A7A7A;
}
.section-recipe__card {
  width: 380px;
  height: 731px;
  min-height: 731px;
  background-color: white;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  border-radius: 21px;
  position: relative;
}
.section-recipe__card img {
  width: 380px;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}
.section-recipe__time {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 26px;
  background: #FFD15B;
  border-radius: 14px;
  top: 21px;
  right: 20px;
}
.section-recipe__time span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.section-recipe__cardContent {
  padding: 0 25px 0 25px;
}
.section-recipe__cardRecette {
  max-height: 125px;
  text-overflow: "";
  overflow: hidden;
}
.section-recipe__cardRecette p {
  max-height: 76px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.section-recipe__cardListIngredients {
  width: 330px;
  height: 190px;
}
.section-recipe__cardIngredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.section-recipe__cardIngredient {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section-recipe__cardIngredient span:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.section-recipe__cardIngredient span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7A7A7A;
}
@media screen and (max-width: 1366px) {
  .section-recipe {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .section-recipe__card {
    width: 100%;
  }
  .section-recipe__card img {
    width: 100%;
  }
  .section-recipe__cardIngredients {
    width: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
